<%- include('../includes/header.ejs')%>

 <link rel="stylesheet" href="/assets/customCSS/notices.css">
	<%- include('../includes/navigation.ejs') %>

	<% if(notices.length==0) { %>
		<p class="text-center text-primary">No Saved Notice yet</p>
	<% } %>
	<div class="row">
	 <% notices.forEach((notice,index)=>{ %>
		<div class="col-lg-2 col-12 pb-0 ">
		  <form action="/notices/<%=notice.noticeId._id%>" method="POST">
			<div class="card m-3 p-0">
				<div class="card-body pt-2 px-2 ">
				  <h5 class="card-title d-inline"><%= notice.noticeId.subject%></h5>
				  <span class="text-muted mx-3">( <%= notice.noticeId.date.toDateString() %>)</span>
				  <br/> <br/>
				  <button type="submit" class="text-center btn btn-primary btn-block">Look inside -></button>
				</div>
			</div>
		 </form>		
		</div>
	 <% }) %>

	</div>

	<%- include('../includes/footer.ejs') %>
</body>
</html>