<%- include('../includes/header.ejs')%>
	
	<style>
		.comments-section{
			width: 45%;
			border-width: 2px 0px 0px 2px;
			border-style: dotted;
			border-color:  black;
			
		}
		.lecture-structure{
			width:55%;
			border-width: 2px 2px 0px 0px;
			border-style: dotted;
			border-color:  black;
		}
		.star-rating {
  			line-height:32px;
  			font-size:1.25em;
			  
		}


		.star-rating .checked{
			color: yellow;		
		}
		
		.star-rating .unchecked{
			
			color: #777676;		
		}
		@media(max-width:599px){
			.container-fluid{
				flex-direction: column;
			}
			.comments-section,.lecture-structure{
				width: 100%;
			}
			
		}

	</style>
	<%- include('../includes/navigation.ejs') %>
		<div class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;">
  			<strong> Thanks for your Feedback </strong>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    			<span aria-hidden="true">&times;</span>
  			</button>
		</div>
		<div class="container-fluid p-1 mt-0  d-flex">
			
			<div class="box lecture-structure box mx-0 pt-4 px-4" >
				<h4 class="text-secondary">Syllabus</h4>
				<!-- Accordian Here -->
				<div class="accordion" id="accordionExample">
					<!-- Basic -->
					<div class="card" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					  <div class="card-header" id="headingOne">
						<h2 class="mb-0">
						  <button class="btn text-dark p-3">
							<div class="d-flex"><h4>Basics </h4>
								<span class="text-muted"> &nbsp;(includes<%= course.content.basic.length %> videos)</span>
							</div>
						  </button>
						</h2>
					  </div>
				  
					  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						<div class="card-body list-group list-group-flush">
							<%course.content.basic.forEach(video=>{ %>
								<a class="list-group-item text-muted py-1" 
									href="/play-video/<%=video._id%>" target="_blank">
									<h5><%= video.title%></h5>
								</a>
								
							<% })%>
						</div>
					  </div>
					</div>

					<!-- Intermediate -->
					<div class="card" type="button" 
						data-toggle="collapse" 
						data-target="#collapseTwo" aria-expanded="false" 		
						aria-controls="collapseTwo">
					  <div class="card-header" id="headingTwo">
						<h2 class="mb-0">
							<button class="btn text-dark p-3" >
								<div class="d-flex"><h4>Intermediate </h4>
									<span class="text-muted"> &nbsp;(includes<%= course.content.intermediate.length %> videos)</span>
								</div>
							</button>
						</h2>
					  </div>
					  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						<div class="card-body">
							<%course.content.intermediate.forEach(video=>{ %>
								<a class="list-group-item text-muted py-1" 
									href="/play-video/<%=video._id%>" target="_blank">
									<h5><%= video.title%></h5>
								</a>
							<% })%>
						</div>
						
					  </div>
					</div>

					<!-- Advance -->
					<div class="card" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					  <div class="card-header" id="headingThree">
						<h2 class="mb-0">
							<button class="btn text-dark p-3" >
								<div class="d-flex"><h4>Advance </h4>
									<span class="text-muted"> &nbsp;(includes<%= course.content.advance.length %> videos)</span>
								</div>
							</button>
						</h2>
					  </div>
					  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						<div class="card-body">
							<%course.content.advance.forEach(video=>{ %>
								<a class="list-group-item text-muted py-1" 
									href="/play-video/<%=video._id%>" target="_blank">
									<h5><%= video.title%></h5>
								</a>
							<% })%>
						</div>
					  </div>
					</div>
				</div>

				<div class="mt-5"> 
					<form > 
						<h4 class="text-secondary">Download Course Payment Receipt</h4>
						<a href="/course-receipt/<%=course._id%>"  type="submit" class="btn btn-outline-info">Click Here</a>
					</form>
				</div>
				<div class="mt-5 rating-section"> 
					<form > 
						<h4 class="text-secondary">Rate Our Course</h4>
						<div class="row">
    						<div class="col-lg-12 d-flex">
      							<div class="star-rating">
        							<span class="fa fa-star unchecked" data-rating="1"></span>
        							<span class="fa fa-star unchecked" data-rating="2"></span>
        							<span class="fa fa-star unchecked" data-rating="3"></span>
        							<span class="fa fa-star unchecked" data-rating="4"></span>
        							<span class="fa fa-star unchecked" data-rating="5"></span>
        							<input type="hidden" name="whatever1" class="rating-value" value="2">
      							</div>
								<span onclick="toggleRating()" class="btn btn-info mx-4"> Submit</span>
    						</div>
  						</div>
					</form>
				</div>
			</div>

			<div class="comments-section" style="overflow-x: scroll;" >
				<div class="h4 text-secondary p-3">Comments Section</div>

				<div class="questions-list" style="height: 70vh;">
					<%course.questions.forEach(questionRef=>{ %>
						<div class="mx-2" style="border-bottom: 1px solid black;">
							<a class="btn btn-secondary float-right" href="/add-comment/<%=questionRef._id%>">Add Comment!</a>
							<p class="h5"><%= questionRef.username%></p>
							<p class="text-muted mx-2"><%=questionRef.question%></p>
							
						</div>
						
					<% }) %>
					<div class="text-secondary text-lead"></div>
				</div>



				<form action="/post-question/<%=course._id%>" method="POST">
				<div class="question-input-box d-flex align-items-center m-0 p-0" 
					style="border-top: 1px solid black;height:10vh">
					
						<div class="form-group col-lg-10 col-8 my-2">
							<input type="text" class="form-control form-control-lg " name="question" placeholder="Enter Question">
						</div>
						<div class="col-lg-2 col-4 my-2 p-0">
							<button type="submit" class="btn btn-success ">Ask <i class="fas fa-paper-plane"></i></button>
						</div>
					
				</div>
				</form>

				

			</div>			
						
	</div>

	<%- include('../includes/footer.ejs') %>
</body>
	<script>
		var $star_rating = $('.star-rating .fa');

		var SetRatingStar = function() {
  			return $star_rating.each(function() {
    			if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
      				return $(this).removeClass('unchecked').addClass('checked');
    			} else {
      				return $(this).removeClass('checked').addClass('unchecked');
    			}
  			});
		};

		$star_rating.on('click', function() {
  			$star_rating.siblings('input.rating-value').val($(this).data('rating'));
  			return SetRatingStar();
		});

		SetRatingStar();

		function toggleRating(){
			let alert=document.querySelector('.alert');
			let ratingSection=document.querySelector('.rating-section')
			alert.style.display='block'
			ratingSection.style.display="none"
		}
		$(document).ready(function() {
		});	
	</script>
</html>