<%- include('../includes/header.ejs')%>
	
	<style>
		.container{
			width: 100%;
			margin: 20px auto;
			/* border: 3px solid red; */
			columns:2;
			column-gap: 20px;
		}
		.box{
			/* width: 100%; */
			overflow: hidden;
			margin-bottom: 5px;
			box-sizing: border-box;
			break-inside:avoid;
			height: auto;
			position: relative;
			/* border: 1px solid #020101 !important; */

		}
		
		@media(max-width:599px){
			.container{
				columns: 1;
			}
		}

	</style>
	<%- include('../includes/navigation.ejs') %>

	<div class="container p-1 mt-0" style="border: 1px dotted black;">
			<div class="box course-brief mx-0 p-0 " style="height:220px;border: 1px dotted black;overflow-y: scroll;" >
				<h6 class="text-muted">COURSE</h6>
				<div class="h1"><%=course.title%></div>
				<div class="text-secondary">
					<%= course.description%>
				</div>
			</div>
			<div class="box course-price mx-0 mt-1" style="height:auto;border: 1px dotted black;">
				<div class="card" style="width: 100%;">
					
					<img class="card-img-top p-4 img-thumbnail img-fluid" 
					src="<%= course.thumbnail %>" alt="<%=course.title%>"/>
		
					<div class="card-body">
					  <div class="card-text ">
						  <h5>What included ?</h5>
						  <div class="text-secondary"><span class="h6">169</span> Lessons <br/>
						  	<span class="h6">Online</span> Accessibility <br/>
						 	<span class="h6">1095</span> Days Validity <br/>
							<span class="h3 text-danger"> (₹) <%=course.price%></span>
							<span class="text-muted" style="text-decoration: line-through;"> (₹) <%= Math.floor((course.price *100)/23)  %></span>
							<span class="text-info" >77% OFF</span>
						  </div>
						 <div class="card-footer bg-white text-center">
							<% if(!isLogin){ %>
								<div class="h5 text-lead text-secondary">Login! to purchase this course </div>
							<% } else if(!isAlreadyPurchased ) { %>
						
							 <!-- <a class="btn btn-success btn-lg px-5 py-3" 
							 	href="/purchase-course/<%= course._id%>">Buy Now</a> -->
							<form action="/purchase-course/<%= course._id%>" method="POST">
        					<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        				    <script
            					src="https://checkout.stripe.com/checkout.js" id="stripe-button" class="stripe-button btn-lg px-5 py-3"
            					data-key="pk_test_51HVGjHGKjVBYc4dGvOFKHshkMEK5GYzoBEH6KyBWv5n4m67Z7rQ4lvA4wdb7NJdVXT9U2f6mIaExZ3EjX1paeHrc00qf5KTKsK"
            					data-amount="<%= course.price  *100%>"
            					data-name="Your Order"
            					data-description="Course you purchased!"
           	 					data-image="https://www.pngall.com/wp-content/uploads/5/User-Profile-PNG-High-Quality-Image.png"
            					data-locale="auto"
            					data-currency="inr">
          					</script>
        					</form>
							<% } else { %>
								<div class="h5 text-lead text-secondary">You have already purchased this course. </div>
								<span class="text-muted">Go to my My Course Section</span>
							<% } %>
						 </div>
						 
					  </div>
					</div>
				  </div>
			</div>
			<div class="box lecture-structure box mx-0 pt-4 px-4" style="height: 800px;border: 1px solid black;">
				<h4 class="text-secondary">Syllabus</h4>
				<!-- Accordian Here -->
				<div class="accordion" id="accordionExample">
					<!-- Basic -->
					<div class="card" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					  <div class="card-header" id="headingOne">
						<h2 class="mb-0">
						  <button class="btn text-dark p-3" >
							<div class="d-flex"><h4>Basics </h4>
								<span class="text-muted"> &nbsp;(includes<%= course.content.basic.length %> videos)</span>
							</div>
						  </button>
						</h2>
					  </div>
				  
					  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						<div class="card-body list-group list-group-flush">
							<%course.content.basic.forEach(video=>{ %>
								<a class="list-group-item text-muted py-1" href="#"><h5><%= video.title%></h5></a>
							<% })%>
						</div>
						<%if(amICreator){%>
						<div class="card-footer text-center bg-white pb-0">
							<a class="btn btn-outline-warning btn-lg" href="/upload-video/<%= course._id%>/?section=Basic">
								<i class="fas fa-upload fa-3x"></i>Upload Videos
							</a>
							<p class="text-muted">Once uploaded, it won't be deleted</p>
						</div>
						<% } %>
					  </div>
					</div>

					<!-- Intermediate -->
					<div class="card" type="button" 
						data-toggle="collapse" 
						data-target="#collapseTwo" aria-expanded="false" 		
						aria-controls="collapseTwo">
					  <div class="card-header" id="headingTwo">
						<h2 class="mb-0">
							<button class="btn text-dark p-3" >
								<div class="d-flex"><h4>Intermediate </h4>
									<span class="text-muted"> &nbsp;(includes<%= course.content.intermediate.length %> videos)</span>
								</div>
							</button>
						</h2>
					  </div>
					  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						<div class="card-body">
							<%course.content.intermediate.forEach(video=>{ %>
								<a class="list-group-item text-muted py-1" href="#"><h5><%= video.title%></h5></a>
							<% })%>
						</div>
						<%if(amICreator){%>
						<div class="card-footer text-center bg-white pb-0">
							<a class="btn btn-outline-warning btn-lg" 
							   href="/upload-video/<%= course._id%>/?section=Intermediate">
								<i class="fas fa-upload fa-3x"></i>Upload Videos
							</a>
							<p class="text-muted">Once uploaded, it won't be deleted</p>
						</div>
						<% } %>
					  </div>
					</div>

					<!-- Advance -->
					<div class="card" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					  <div class="card-header" id="headingThree">
						<h2 class="mb-0">
							<button class="btn text-dark p-3" >
								<div class="d-flex"><h4>Advance </h4>
									<span class="text-muted"> &nbsp;(includes<%= course.content.advance.length %> videos)</span>
								</div>
							</button>
						</h2>
					  </div>
					  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						<div class="card-body">
							<%course.content.advance.forEach(video=>{ %>
								<a class="list-group-item text-muted py-1" href="#"><h5><%= video.title%></h5></a>
							<% })%>
						</div>
						<%if(amICreator){%>
						<div class="card-footer text-center bg-white pb-0">
							
								<a class="btn btn-outline-warning btn-lg" 
									href="/upload-video/<%= course._id%>/?section=Advance">
									<i class="fas fa-upload fa-3x"></i>Upload Videos
								</a>
							<p class="text-muted">Once uploaded, it won't be deleted</p>
						</div>
						<% } %>
					  </div>
					</div>
				  </div>
			</div>	
				
			
	</div>

	<%- include('../includes/footer.ejs') %>
</body>

</html>