<%- include('../includes/header.ejs')%>

	<link rel="stylesheet" href="/assets/customCSS/index.css">

	<%- include('../includes/navigation.ejs')%>
	<header class="text-center my-3  h3 text-secondary"><span class="ml-5">A Moment to Remember....</span></header>
	<div class="container bg-info d-flex justify-content-center">
		<div class="slick-slider row">
		<% posts.forEach((post,index)=>{ %>
			<div class="slick-item-preview col-lg-12">
				<img src="<%=post.image%>" alt="slide" class="post-image">
				<div class="slick-caption d-none d-md-block">
					<h2 class="text-dark"><%= post.heading %></h2>
					<p class=" h4 text-dark text-center"><%= post.description %></p>
				</div>	
			</div>
		 <% }) %>	
		</div>
	</div>
	
	<div class="container mt-3">
	<div class="image-list row">		
		<% posts.forEach((post,index)=>{ %>
			<div class="slick-list-item mx-2">
				<img src="<%=post.image%>" alt="slide" class="post-image">
			</div>
		 <% }) %>	
		
	</div>
	</div>
		
	
	<%- include('../includes/footer.ejs')%> 
	
    <script type="text/javascript">
	  $('.slick-slider').slick({
		infinite: true,
		speed: 300,
		slidesToShow: 1,
		adaptiveHeight: true,

		fade: true,
  		cssEase: 'linear',
		slidesToScroll: 1,
		arrows:true,
		asNavFor: '.image-list'
		});

		$('.image-list').slick({
  			slidesToShow: (window.innerWidth>499)?6:2,
  			slidesToScroll: 1,
			autoplay: true,
  			autoplaySpeed: 1500,
  			asNavFor: '.slick-slider',
  			dots: true,
			arrows:true,
  			centerMode: true,
 	 		focusOnSelect: true
		});
    </script>	
		
</body>


