<%- include('../includes/header.ejs')%>

	<link rel="stylesheet" href="/assets/customCSS/index.css">
	<style>
		.courses{
			overflow: auto;
 			white-space: nowrap;
			border-bottom: 2px solid black;
			
		}
		.course-card{
			border-radius: 5%;
			display: inline-block !important;

		}
		.course-card:hover{
			background-color: rgb(1, 240, 228);
		}
		.course-thumbnail{
			border-radius: 5%;
		}
	</style>
	<%- include('../includes/navigation.ejs')%>


   
	<div class="container-fluid" >
		<div class="row">
			<div class="col-lg-10 col-12 " style="height: 350px !important;">
				<!--courses-->
				<header class="text-center my-3 h3 text-secondary"><span class="ml-3">Our Remote-Courses</span></header>
				<div class="courses px-0 pb-auto" style="height: 240px;border:1px solid black ">
					<%if(courses.length===0){%>
						<div class="h3 text-secondary p-2">No Courses Yet! </div>
					<%}%>
					<% courses.forEach(course=>{%>
						<a class="card course-card pb-1 px-0 pt-0"
							href="/course/<%=course._id%>" 
							style="width: 300px; height: 200px;">
							<img class="course-thumbnail card-img" 
								src="<%=course.thumbnail%>" 
								height="97%" width="100%" 
								alt="<%=course.title%>">
						</a>
						
					<%})%>
						
				</div>		
			</div>

			<div class="col-lg-2 col-12 notices" style="height: 350px;overflow-y: scroll;">
				<!--Notices-->
				<header class="text-center my-1  h5 text-secondary">
					<span class="ml-0">Notices</span>
					
					<a class="ml-3" href="/notices">Check All ➡️</a>
				
				</header>
				<ul class="list-group list-group-flush">
				<% notices.forEach(notice=>{ %>
					
						<a href="/notices/<%=notice._id%>" class="list-group-item  my-1">
							<li class="h5 d-inline"><%= notice.subject %></li>
							<span class="text-muted">[<%=notice.date.toLocaleDateString()%>]</span>
						</a>
						<a href="" class="list-group-item  my-1">
							<li class="h5 d-inline"><%= notice.subject %></li>
							<span class="text-muted">[<%=notice.date.toLocaleDateString()%>]</span>
						</a>
						<a href="" class="list-group-item  my-1">
							<li class="h5 d-inline"><%= notice.subject %></li>
							<span class="text-muted">[<%=notice.date.toLocaleDateString()%>]</span>	
						</a>
						<a href="" class="list-group-item  my-1">
							<li class="h5 d-inline"><%= notice.subject %></li>
							<span class="text-muted">[<%=notice.date.toLocaleDateString()%>]</span>
						
						</a>
						<a href="" class="list-group-item  my-1">
							<li class="h5 d-inline"><%= notice.subject %></li>
							<span class="text-muted">[<%=notice.date.toLocaleDateString()%>]</span>
						</a>
						<a href="" class="list-group-item  my-1">
							<li class="h5 d-inline"><%= notice.subject %></li>
							<span class="text-muted">[<%=notice.date.toLocaleDateString()%>]</span>
						</a>
						<a href="" class="list-group-item  my-1">
							<li class="h5 d-inline"><%= notice.subject %></li>
							<span class="text-muted">[<%=notice.date.toLocaleDateString()%>]</span>
						</a>
						<a href="" class="list-group-item  my-1">
							<li class="h5 d-inline"><%= notice.subject %></li>
							<span class="text-muted">[<%=notice.date.toLocaleDateString()%>]</span>
						</a>
						<a href="" class="list-group-item  my-1">
							<li class="h5 d-inline"><%= notice.subject %></li>
							<span class="text-muted">[<%=notice.date.toLocaleDateString()%>]</span>
						</a>
						<a href="" class="list-group-item  my-1">
							<li class="h5 d-inline"><%= notice.subject %></li>
							<span class="text-muted">[<%=notice.date.toLocaleDateString()%>]</span>
						</a>
					
				<% }) %>
				</ul>
			</div>
		</div>
	</div>
    
	
	
	<!--  POSTS   -->
	<header class="text-center my-3  h3 text-secondary"><span class="ml-3">A Moment to Remember....</span></header>
	<div class="container bg-info d-flex justify-content-center">
		<div class="slick-slider row">
		<% posts.forEach((post,index)=>{ %>
			<div class="slick-item-preview col-lg-12">
				<img src="<%=post.image%>" alt="slide" class="post-image">
				<div class="slick-caption d-none d-md-block">
					<h2 class="text-dark"><%= post.heading %></h2>
					<p class=" h4 text-dark text-center"><%= post.description %></p>
				</div>	
			</div>
		 <% }) %>	
		</div>
	</div>
	<div class="container  my-3">
		<div class="image-list row mx-0">		
			<% posts.forEach((post,index)=>{ %>
				<div class="slick-list-item ">
					<img src="<%=post.image%>" alt="slide" class="post-image">
				</div>
		 	<% }) %>		
		</div>
		<div class="text-center mx-2 ">
			<a class="h3 px-5 py-3" href="/photos">Check All ➡️</a>
		</div>
	</div>

	
		
	
	<%- include('../includes/footer.ejs')%> 
	
    <script type="text/javascript">
	  $('.slick-slider').slick({
		infinite: true,
		speed: 300,
		slidesToShow: 1,
		adaptiveHeight: true,

		fade: true,
  		cssEase: 'linear',
		slidesToScroll: 1,
		arrows:true,
		asNavFor: '.image-list'
		});

		$('.image-list').slick({
  			slidesToShow: (window.innerWidth>499)?6:2,
  			slidesToScroll: 1,
			autoplay: true,
  			autoplaySpeed: 1500,
  			asNavFor: '.slick-slider',
  			dots: true,
			arrows:true,
  			centerMode: true,
 	 		focusOnSelect: true
		});
    </script>	
		
</body>


