<%- include('../includes/header.ejs') %>
 <style>

	 .notice-container{
		 width: 100%;
		 border: 1px dashed black;
	 }
	 .notice-paper{
		 background-image: url("https://images.unsplash.com/photo-1586074299757-dc655f18518c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
		 height: 90vh;
	 }
	 textarea{
		 margin: 0;
		 width: 90%;
		 resize: none;

	 }
 </style>

	<%- include('../includes/navigation.ejs') %>
	
	<div class="notice-container row mx-0">
		<div class="notice-paper col-lg-4 offset-lg-4 col-md-8 offset-md-2 col-sm-10 offset-sm-1 my-4">
			<div class="row">
				<div class="col h2 text-center">Gls University</div>
			</div>
			<div class="row">
				<div class="col h3 text-center mt-3">Notice</div>
			</div>
			<div class="row">
				<p class="col"><%= notice.date %></p>
			</div>
			<div class="row">
				<p class="col h4 text-center"><%= notice.subject %></p>
			</div>

			<div class="row">
				<div class="col">
					<textarea class="mx-auto my-5"  rows="8" readonly><%= notice.content %></textarea>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 my-2 mx-5"><b><%= username %></b></div>
				<div class=" col-lg-12 my-2 mx-5"><u><%= notice.designation %></u></div>
			</div>
			
			
		
		</div>	
	</div>
	<div class="d-flex justify-content-center align-items-center">
		<a href="/download-notice/<%=notice._id%>" class=" my-3 mx-5 px-5 py-3 btn btn-lg btn-secondary">Download</a>
	</div>


	<div class="sharethis-inline-share-buttons text-center fixed-bottom"></div>
	<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=602cc7da5b508c0011025877&product=sticky-share-buttons' async='async'></script>	
	<%- include('../includes/footer.ejs')%>
</body>
</html>