<%- include('../includes/header.ejs')%>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="/assets/customCSS/notices.css">
	<%- include('../includes/navigation.ejs') %>

	<% if(!notices) { %>
		<p class="text-center text-primary">No notice yet</p>
	<% } %>
	<div class="container-fluid mx-3">
	<% Object.entries(notices).forEach(([key,value]) =>{ %>
		
	 <div class="row">
		<div class="h5 col-lg-12 col-12"><%= key %></div>
		<% value.forEach((notice)=>{ %>
			<div class="card col-lg-3 col-6 pb-0">
				<form action="/notices/<%=notice._id%>" method="POST">
				  <div class="m-3 pr-0">
					  <div class=" pl-2 pr-0">
						<h5 class="title d-inline"><%= notice.subject %></h5>

						<div class="menu-dropdown float-right m-0 p-0">
							<button class="dropbtn m-0 p-0">
								<i class="fas fa-ellipsis-v"></i>
							</button>
							<div class="dropdown-content m-0 p-0">
							  <a href="/archieve/<%= notice._id %>">Save <i class="text-right fas fa-bookmark  m-0"></i></a>
							</div>
						</div> 
						

						
									
					  </div>
				  </div>
			   </form>		
			  </div>
		<% }) %>	

	</div>
	<% })%>
    </div>

	<%- include('../includes/footer.ejs') %>
</body>

</html>