<%- include('../includes/header.ejs')%>
<style>
	body{
		background-image:url("https://image.freepik.com/free-photo/crumpled-paper-background_1373-412.jpg")
 	}
	.archieve{
		border-radius: 50% 50% 0% 0%;
	 }
</style>
</head>
<body>
	<%- include('../includes/navigation.ejs') %>
	<% if(notices.length==0) { %>
		<p class="text-center text-primary">No notice yet</p>
	<% } %>
	<div class="row">
	 <% notices.forEach((notice,index)=>{ %>
		<div class="col-lg-4 pb-0">
		  <form action="/notices/<%=notice._id%>" method="POST">
			<div class="card m-3 pr-0">
				<h5 class="card-header"><%= notice.date%></h5>
				<div class="card-body pb-0 pl-2 pr-0">
				  <h5 class="card-title"><%= notice.subject%></h5>
				  <p class="card-text text-lead">By : <%= notice.userId.username %></p>
				  <input type="hidden" id="username" name="username" value="<%= notice.userId.username%>">

				  <a href="/archieve/<%= notice._id %>" class="float-right  btn btn-secondary archieve ml-3 mr-0">Saved</a> 
				  <button type="submit" class="text-center btn btn-primary">Look inside -></button>
				  
				</div>
			</div>
		 </form>		
		</div>
	 <% }) %>

	</div>

	<%- include('../includes/footer.ejs') %>
</body>
</html>