<%- include("../includes/header")%>
<link rel="stylesheet" href="./assets/customCSS/posts.css">
</head>
<body>
	<%- include("../includes/navigation.ejs") %>

	<div class="photos mt-5">
		<div class="h3 mx-4 text-secondary">Some Moments to Remember...</div>
		<div class="container-fluid">
			<% if(posts.length==0){ %>
				<p class="h4 text-lead mx-5">No post yet...</p>
			<% } %>
			
			<% posts.forEach(post=>{ %>
					<div class="card post text-white">
						<img class="card-img" src="<%=post.image%>"  alt="Card image cap">
						<div class="image-description text-dark px-3">
							<h3><%=post.heading%></h3>
							<p><%=post.description%></p>
					   </div>
					</div>				   
			<% }) %>		
		</div>
	</div>


	<%- include("../includes/footer.ejs") %>
</body>
</html>